/*  Base  */

.base_content {
    position: relative;
}
#menu_button {
    background-color: rgb(252, 250, 249);
    border: none;
}
.right_arrow {
    width: 40px;
    height: auto;
}
.offcanvas-content {
    margin-left: 20px;
}
.pagelink {
    text-decoration: none;
    background-color: rgb(98, 158, 214);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}
.pagelink:hover {
    color: black;
}

/*  Navbar  */

.navbar {
    background-color: rgb(0, 0, 0, 0.25);
}
#navbar-head {
    font-weight: bold;
    margin-left: 10px;
    color: rgb(9, 255, 0);
}
#menu_button {
    color: rgb(9, 255, 0);
    background-color: rgb(0, 0, 0, 0);
    font-size: 19px;
    font-weight: bold;
}
#dropdowncontent {
    background-color: rgb(0, 183, 255);
}

/*  Index  */

.welcome_content {
    max-width: 400px;
    background-color: rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.welcome_head {
    color: brown;
}
.welcome_description {
    font-size: 13px;
}
.addincomelink {
    color: rgb(15, 15, 224);
}

/*  Add Income  */

.addincome_content {
    max-width: 400px;
    background-color: rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.addincome_head {
    color: brown;
}
.addincome_description {
    font-size: 13px;
    margin-top: 10px;
}
.showincome_link {
    background-color: rgb(255, 51, 0);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    color: white;
    
}
.showincome_link:hover {
    color: white;
}

/*  Show Income  */

.showincome_content {
    max-width: 400px;
    background-color: rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.showincome_haed {
    color: brown;
}
.showincome_description {
    font-size: 13px;
    margin-top: 10px;
}
.showincome_back {
    background-color: rgb(255, 51, 0);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    color: white;
    float: right;
}
.showincome_back:hover {
    color: white;
}

/*  Add Expense  */

.addexpense_content {
    max-width: 400px;
    background-color: rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.addexpense_head {
    color: brown;
}
.addexpense_description {
    font-size: 13px;
    margin: 20px 0px 10px 0px;
}
.addexpense_link {
    background-color: rgb(0, 68, 255);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    color: white;
    margin-left: 20px;
}
.addexpense_link:hover {
    color: white;
}
.addcategory_link {
    background-color: rgb(0, 68, 255);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
    color: white;
}
.addcategory_link:hover {
    color: white;
}

/*  Add Category  */

.addcategory {
    max-width: 750px;
    background-color: rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 4%;
    left: 40%;
    padding: 20px 80px;
}
.addcategory_head {
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}
.expensestatus_link {
    float: right;
}
.addcategorycard {
    background-color: rgb(190, 214, 214);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid rgb(104, 102, 102);
    margin: 0px 0px 15px 0px;
}
.addcategoryhead {
    color: brown;
    float: right;
    font-weight: bold;
}
.addcategoryicon {
    width: 30px;
    height: auto;
    margin-top: -10px;
}

/*  Expenses Status Bar  */

.expensestatus {
    width: 700px;
    background-color: rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 40%;
    padding: 20px 80px;
}
.expensestatus_head {
    color: black;
    margin-bottom: 50px;
}
.expensestatusrow {
    margin-bottom: 30px;
}
.expensestatusbaricon {
    width: 40px;
    height: auto;
    margin-top: -10px;
}
.expensestatushead {
    color: brown;
    float: right;
}
.expensestatusprogress {
    margin-top: 15px;
}
.expensestatus_link {
    background-color: rgb(0, 68, 255);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    color: white;
    margin-top: -50px;
}
.expensestatus_link:hover {
    color: white;
}
.addcategorybacklink {
    float: right;
    background-color: rgb(0, 68, 255);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
    color: white;
}
.addcategorybacklink:hover {
    color: white;
}

/*  Expense Alert  */

.expensealert_content {
    max-width: 400px;
    background-color: rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
}
.expensealerthead {
    color: brown;
}
.expensealertdescription {
    font-size: 13px;
}
#check_btn {
    background-color: rgb(0, 110, 255);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
}