/*  Base  */

.base_content {
    position: relative;
}
#menu_button {
    background-color: rgb(252, 250, 249);
    border: none;
}
.right_arrow {
    width: 40px;
    height: auto;
}
.offcanvas-content {
    margin-left: 20px;
}
.pagelink {
    text-decoration: none;
    background-color: rgb(98, 158, 214);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}
.pagelink:hover {
    color: black;
}

/*  Navbar  */

.navbar {
    background-color: rgb(0, 0, 0, 0.25);
}
#navbar-head {
    font-weight: bold;
    margin-left: 10px;
    color: rgb(9, 255, 0);
}
#menu_button {
    color: rgb(9, 255, 0);
    background-color: rgb(0, 0, 0, 0);
    font-size: 19px;
    font-weight: bold;
}
#dropdowncontent {
    background-color: rgb(0, 183, 255);
}

/*  Index  */

.welcome_content {
    max-width: 400px;
    background-color    : rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.welcome_head {
    color: brown;
}
.welcome_description {
    font-size: 13px;
}
.addincomelink {
    color: rgb(15, 15, 224);
}

/*  Add Income  */

.addincome_content {
    max-width: 400px;
    background-color    : rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.addincome_head {
    color: brown;
}
.addincome_description {
    font-size: 13px;
    margin-top: 10px;
}
.showincome_link {
    background-color: rgb(255, 51, 0);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    color: white;
    
}
.showincome_link:hover {
    color: white;
}

/*  Show Income  */

.showincome_content {
    max-width: 400px;
    background-color    : rgb(172, 172, 206);
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.showincome_haed {
    color: brown;
}
.showincome_description {
    font-size: 13px;
    margin-top: 10px;
}
.showincome_back {
    background-color: rgb(255, 51, 0);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    color: white;
    float: right;
}
.showincome_back:hover {
    color: white;
}