{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="welcome_content">
    <h3 class="welcome_head">Welcome to Personal Expense Manager</h3>
    <p class="welcome_description">When you sign up for a Expenser account, you'll get access to our Web App as well! Your data will automatically sync between your mobile device(s) and the Web App, which will give you the possibility to track your finances everywhere you go. 🚶🏽🚶</p>
    <a href="/addincome" class="addincomelink">Let's Start</a>
</div>

{% endblock %}
<div class="addincome_content">
    <h3 class="addincome_head">Set the Monthly Income</h3>
    <div class="addincome_input">
        <input type="text" id="addincome">
        <button onclick="getData()">Click</button>
        <div class="output" id="demo"></div>
    </div>
    <button><a href="/showincome">Confirm</a></button>
</div>