{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="addcategory">
    <div class="addcategory_head">Expense Category for this Month :</div>
    <a class="expensestatus_link" href="/expensestatus">View Status</a>

    <div class="row">
        <div class="col-sm-6 addcategorycard">
            <img src="{{ url_for('static', filename='media/home.png') }}" class="addcategoryicon" alt="#">
            <h6 class="addcategoryhead">Home</h6>
            <input type="text" id="addcategoryinput"><br><br>
            <a class="addcategory_link" href="#">Add</a>
        </div>
        <div class="col-sm-6 addcategorycard">
            <img src="{{ url_for('static', filename='media/education.png') }}" class="addcategoryicon" alt="#">
            <h6 class="addcategoryhead">Education</h6>
            <input type="text" id="addcategoryinput"><br><br>
            <a class="addcategory_link" href="#">Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 addcategorycard">
            <img src="{{ url_for('static', filename='media/shopping.png') }}" class="addcategoryicon" alt="#">
            <h6 class="addcategoryhead">Shopping</h6>
            <input type="text" id="addcategoryinput"><br><br>
            <a class="addcategory_link" href="#">Add</a>
        </div>
        <div class="col-sm-6 addcategorycard">
            <img src="{{ url_for('static', filename='media/transport.png') }}" class="addcategoryicon" alt="#">
            <h6 class="addcategoryhead">Transport</h6>
            <input type="text" id="addcategoryinput"><br><br>
            <a class="addcategory_link" href="#">Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 addcategorycard">
            <img src="{{ url_for('static', filename='media/medical.png') }}" class="addcategoryicon" alt="#">
            <h6 class="addcategoryhead">Medical</h6>
            <input type="text" id="addcategoryinput"><br><br>
            <a class="addcategory_link" href="#">Add</a>
        </div>
        <div class="col-sm-6 addcategorycard">
            <img src="{{ url_for('static', filename='media/entertainment.png') }}" class="addcategoryicon" alt="#">
            <h6 class="addcategoryhead">Entertainment</h6>
            <input type="text" id="addcategoryinput"><br><br>
            <a class="addcategory_link" href="#">Add</a>
        </div>
    </div>
    
</div>

{% endblock %}