{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="addexpense_content">
    <h3 class="addexpense_head">Add your Daily Expenses</h3>
    <div class="addexpense_description">You can add your daily expenses to maintain the data about your Monthly Expenses. You can split your daily expenses with the specified category by using the "Add Category" option.</div>
    <input type="text" id="addexpense">
    <a class="addexpense_link" href="#">Add</a><br><br>
    <a class="addcategory_link" href="/addcategory">Add Category</a>
</div>

{% endblock %}